@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@* @{
    @if (User.Identity!.IsAuthenticated)
    {
        var user = await UserManager.FindByNameAsync(User.Identity.Name!);
        if (user != null && await UserManager.HasPasswordAsync(user))
        {
            // User has a password
        }
        else
        {
            // User does not have a password
        }
    }
} *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNETCoreIdentityDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPNETCoreIdentityDemo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<style>
    .dropleft .dropdown-toggle::before{
        display:none;
    }

    .dropdown-toggle::after{
        display:none;
    }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="DashBoard" asp-action="Index">Admin DashBoard</a>
                    }
                    else
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="DashBoard" asp-action="Index">User DashBoard</a>
                    }
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="About">About</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        Manage
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Administration"
                                           asp-action="ListUsers">Users</a>
                                        <a class="dropdown-item" asp-controller="Administration"
                                           asp-action="ListRoles">Roles</a>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DashBoard" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="#" asp-action="#">Profile Update</a>
                                </li>
                            }
                        }

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.FindByNameAsync(User.Identity!.Name!);
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @* Manage Account *@
                                    @if (user != null && user.ProfilePicture != null && user.ProfilePicture.Length > 0)
                                    {
                                        <img! class="rounded-circle" style="width:35px;" alt="Profile Picture" src="data:image;base64,@Convert.ToBase64String(user.ProfilePicture)" />
                                    }
                                    else
                                    {
                                        <img class="rounded-circle" style="width:35px;" src="~/Images/demo.png" alt="Profile Picture">

                                    }
                                </a> 
                                <div class="dropdown-menu" aria-labelledby="userDropdown" style="margin-left:-96px;">
                                    <a class="dropdown-item" href="#">
                                        <b class="text-success" style="font-size:12px;margin-bottom:0px;">
                                            @User?.Identity?.Name
                                        </b>
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("Settings", "Account")">Settings</a>
                                    <a class="dropdown-item" href="#">Update</a>
                                    <a class ="dropdown-item" href="@Url.Action("UploadProfilePicture", "Account")">
                                        Update DP
                                    </a>
                                    @if (!string.IsNullOrEmpty(user!.PhoneNumber))
                                    {
                                        @if (user.PhoneNumberConfirmed)
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ConfirmPhoneNumber">Change Phone No</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ConfirmPhoneNumber">Change Phone No</a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ConfirmPhoneNumber">Add Phone No</a>
                                    }
                                    @if (User!.Identity.IsAuthenticated)
                                    {
                                        @* var user = await UserManager.FindByNameAsync(User.Identity.Name!); *@
                                        if (user != null && await UserManager.HasPasswordAsync(user))
                                        {
                                            <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" asp-controller="Account" asp-action="AddPassword">Add Password</a>
                                        }
                                    }
                                    <div class="dropdown-divider"></div>
                                    <form method="post" asp-controller="account" asp-action="logout">
                                        <button type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </div>
                            </li>
                        }
                        else
                        {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 mb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:white">
        <div class="container">
            &copy; 2023 - ASPNETCoreIdentityDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

