@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />


<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
        <img src="~/Images/hero-carousel/hero-carousel-3.svg" class="img-fluid animated">
        <h2>Welcome<span></span></h2>
        <p>Welcome to ASPNETCoreIdentityDemo App, your trusted partner for all your business needs. We specialize in providing innovative solutions tailored to meet the unique requirements of your organization.</p>
        <div class="d-flex">
            <button href="#about" class="btn-get-started scrollto btn-success">Get Started</button>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
    </div>
</section>

<section id="main">
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="row gy-4">

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi-bounding-box-circles icon"></i></div>
                    <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                    <p>At Lorem Ipsum, we offer comprehensive solutions to streamline your business processes and drive growth.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-app-indicator icon"></i></div>
                    <h4><a href="" class="stretched-link">Sed ut perspici</a></h4>
                    <p>Sed ut perspiciatis specializes in delivering strategic insights and actionable plans to optimize your business performance.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
                    <h4><a href="" class="stretched-link">Magni Dolores</a></h4>
                    <p>Magni Dolores offers state-of-the-art technology solutions to enhance efficiency and productivity in your organization.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                    <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                    <p>Nemo Enim is your partner in success, providing expert guidance and support to achieve your business objectives.</p>
                </div>
            </div><!-- End Service Item -->

        </div>
    </section><!-- End Featured Services Section -->
</section>
