@model ASPNETCoreIdentityDemo.Models.ViewModels.AddPasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}
<style>
    /* Custom styles */
    .custom-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px; /* Adjust as needed */
        background-color: #f9f9f9;
    }
</style>
<div class="row">
    <div class="col-md-12">

        <form method="post" asp-action="AddPassword" asp-controller="Account" class="custom-form">
            <div class="form-group text-center">
                <h4>Add New Password</h4>
                <p class="text-info">
                    You have used an external account to login and do not have a local username and password.
                    Simply set a new password if you want to login using a local account.
                    Use your email as the username.
                </p>
                <hr>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="NewPassword" class="form-control" placeholder="Enter new password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm new password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </form>
    </div>
</div>
