@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using static ASPNETCoreIdentityDemo.Models.ViewModels.DashboardViewModel
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-5">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <p>@TempData["SuccessMessage"]</p>
        </div>
    }

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
{
    @Html.Partial("_AdminDashPartial", (object)ViewBag);
}
else
{
    @Html.Partial("_UserDashPartial", (object)ViewBag);
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".alert").delay(5000).slideUp(200, function () {
            $(this).alert('close');
        });
    });
</script>

